@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #374151;
  background-color: #f3f4f6;
}

.container {
  height: 100vh;
  margin: auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns-box h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.btns-box div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.btns-box div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.btn {
  width: 6rem;
  height: 3rem;
  margin: 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  font-size: 18px;
  font-weight: 600;
  background-color: #818cf8;
  color: #3730a3;
}

.btn-primary:hover {
  opacity: 0.86;
}

.btn:focus {
  outline: none;
  border: 10px solid #818cf8;
}

#alert {
  position: absolute;
  background: #1f2937;
  color: #e5e7eb;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: 3px 6px 9px #d1d5db;
  transform: scale(1);
  transition: transform 0.4s ease;
}

#alert:hover {
  transform: scale(1.02);
  transition: transform 0.4s ease;
}

#alert p {
  font-size: 17px;
  margin-right: 10px;
}

#alert button {
  border: none;
  text-transform: uppercase;
  background: transparent;
  color: #b91c1c;
  cursor: pointer;
  font-weight: 600;
}
#alert button:focus {
  outline: none;
}

.hide-alert-left {
  bottom: 0px;
  left: -100%;
}

.show-alert-left {
  bottom: 0px;
  left: 0;
}

.hide-alert-right {
  bottom: 0px;
  left: -100%;
}

.show-alert-right {
  bottom: 0px;
  left: 0;
}
